div(class='box hovered')
  div(class='thumb cf')
    i(class='fa fa-globe')
  div(class='content cf')
    h2 {{concept.payload.Name}}
      small(class='date') {{concept.payload.GenerationDate__c}}
    p {{concept.payload.Abstract__c}}
    p
      em(class='tokens green') cost: 100
      em(class='tokens green') tokens: {{concept.payload.TotalTokens__c}}
    p You own
      input(type='text' class='small' value='100')
      em(class='tokens blue buy-stock') make deal
  div(class='details cf')
    h2 Details
    p {{concept.payload.Body__c}}
h1 Market Trend
div(id='chart')