h1 {{reference_name}}

p
  label Title
p
  input(type='input')
p
  label Abstract
p
  input(type='input')
p
  label Body
p
  textarea
p
  label Tags
p
  input(type='input')
p
  button Let's make some change!