h1 {{reference_name}}

p
  label Title
p
  input(type='input' id='data-title')
p
  label Abstract
p
  input(type='input' id='data-abstract')
p
  label Body
p
  textarea(id='data-body')
p
  label Tags
p
  input(type='input' id='data-tags')
a(href='#featured')
  button(class='submit') Let's make some change!