h1 {{reference_name}}

div(class='box hovered')
  div(class='thumb cf')
    i(class='fa fa-globe')
  div(class='content cf')
    h2 Banana Stands
      small(class='date') 7/19/14
    p There's always money in the Banana Stand
  div(class='details cf')
    h2 Details
    p. This is some stupid text that I'm too lazy to go to the
      lorem ipsum website to get blah blah blah this is a
      really stupid idea. lorem ipsum website to get blah blah blah this is a
      really stupid idea. lorem ipsum website to get blah blah blah this is a
      really stupid idea.
div(id='chart')