h1 {{reference_name}}
 
div
  label Title
div
  input(type='input' value='concept1' id='data-title')
div
  label Abstract
div
  input(type='input' value='some stupid abstract' id='data-abstract')
div
  label Body
div
  textarea(id='data-body') blah blah blah body
div
  label Tags
div
  input(type='input' value='food, swag' id='data-tags')
a(href='#profile')
  button(class='submit') Let's make some change!