h1 {{reference_name}}

div
  label Title
div
  input(type='input' id='data-title')
div
  label Abstract
div
  input(type='input' id='data-abstract')
div
  label Body
div
  textarea(id='data-body')
div
  label Tags
div
  input(type='input' id='data-tags')
a(href='#featured')
  button(class='submit') Let's make some change!