h1 {{reference_name}}

div(class='box box-profile')
  div(class='thumb cf')
    i(class='fa fa-user')
  div(class='content cf')
    h2 {{first_name}} {{last_name}} 
    p {{email}}
    p Tokens: 
      i(class='fa fa-empire') {{tokens}}

a(ng-repeat="concept in concepts" href='#concept/{{concept.payload.Id}}/edit')
  div(class='box')
    div(class='thumb cf')
      i(class='fa fa-globe')
    div(class='content cf')
      h2 {{concept.payload.Name}}
        small(class='date') {{concept.payload.GenerationDate__c}}
      p {{concept.payload.Abstract__c}}
      p
        em(class='tokens green') rate: {{(concept.payload.TotalTokens__c/11.5) | number:0}}
        em(class='tokens green') tokens: {{concept.payload.TotalTokens__c | number:0}}