doctype html
html(ng-app='inHouseApp')
  head
    meta(charset='utf8')
    title #{title}
    link(rel='stylesheet' href='/style/main.css')
    script(type='text/javascript' src='js/jquery.min.js')
    script(type='text/javascript' src='js/main.js')
  body(ng-controller='IndexCtrl')
    h1 hi
    p asdf
    div(class='container')
      div(ng-view)
    script(type='text/javascript' src='js/angular.min.js')
    script(type='text/javascript' src='js/angular-route.min.js')
    script(type='text/javascript' src='js/angles.js')