/* COLORS */
/* MIXINS */
/* typography */
h1 {
  font-size: 14px;
  text-transform: uppercase;
}
h2 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
small {
  color: #fcf7b1;
  font-size: 10px;
  font-weight: 300;
  margin-left: 5px;
}
/* GLOBALS */
html,
body {
  height: 100%;
  background: #191919;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Helvetica, sans-serif;
  color: #b2b2b2;
}
.cf {
  *zoom: 1;
}
.cf:after {
  clear: both;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.justify-text {
  text-align: justify;
}
.center-text {
  text-align: center;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
input::-webkit-input-placeholder {
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  color: #b2b2b2;
}
input:focus::-webkit-input-placeholder,
input:hover::-webkit-input-placeholder {
  color: #fcf7b1;
}
input:focus:-moz-placeholder,
input:hover:-moz-placeholder {
  color: #fcf7b1;
}
input:focus::-moz-placeholder,
input:hover::-moz-placeholder {
  color: #fcf7b1;
}
input:focus:-ms-input-placeholder,
input:hover:-ms-input-placeholder {
  color: #fcf7b1;
}
input:-moz-placeholder {
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  color: #b2b2b2;
}
input::-moz-placeholder {
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  color: #b2b2b2;
}
input:-ms-input-placeholder {
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  color: #b2b2b2;
}
input#search-bar:before {
  position: absolute;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  top: 0;
  left: -5px;
  content: "\f002";
}
input,
textarea {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  width: 100%;
  margin: 0 auto 20px;
  border: 3px solid #b2b2b2;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  padding: 8px 0px;
  color: #b2b2b2;
  background: #191919;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  color: #fcf7b1;
  border: 3px solid #fcf7b1;
  outline: 0;
}
textarea {
  height: 80px;
  text-align: left;
  padding: 8px 20px;
  text-transform: none;
}
button {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  width: 100%;
  margin: 0 auto 20px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  padding: 15px 0px;
  color: #191919;
  background: #b2b2b2;
}
button:hover,
button:focus {
  background: #3065a1;
  outline: 0;
}
#nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(3,3,3,0.75);
  border-top: 1px solid #4c4c4c;
  text-align: center;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
}
#nav a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  padding: 6px 0.5% 6px;
  width: 19%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  text-decoration: none;
  color: #b2b2b2;
}
#nav a:hover {
  color: #fcf7b1;
}
#nav a i {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
#nav a p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 300;
}
#nav a.index {
  background: #252525;
  color: #fcf7b1;
}
a .box {
  color: #b2b2b2;
}
.box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 20px auto;
  padding: 20px 5% 10px;
  width: 100%;
  background: #333;
  border: 3px solid #333;
}
.box:hover {
  border: 3px solid #b2b2b2;
  background: none;
}
.box .thumb {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
.box .thumb i {
  font-size: 60px;
  color: #fcf7b1;
}
.box .content {
  width: 80%;
  display: inline-block;
}
.box.box-profile {
  background: #3065a1;
  border: none;
}
