/* COLORS */
MAIN_COLOR = #fefefe
YELLOW = rgb(51, 148, 211)
// YELLOW = rgb(252, 190, 48)
// BLUE = #3065A1
BLUE = rgb(51, 148, 211)
GREEN = #82C087

/* MIXINS */
fader(prop, seconds)
  -webkit-transition prop seconds linear
  -moz-transition prop seconds linear
  -ms-transition prop seconds linear
  -o-transition prop seconds linear

/* typography */
h1
  font-size 14px
  text-transform uppercase

h2
  font-size 14px
  font-weight bold
  letter-spacing 2px
  text-transform uppercase
  margin 10px 0px 0px 0px
  padding 0
  color darken(MAIN_COLOR, 20%)

h3
  font-size 12px
  font-weight bold
  letter-spacing 2px
  margin 0
  padding 0
  color darken(MAIN_COLOR, 20%)

p
  margin 0
  padding 0
  font-size 15px
  em
    font-size 12px
    padding 2px 6px
    margin-right 5px
    &.green
      border 1px solid GREEN
      color GREEN
    &.blue
      border 1px solid BLUE
      color BLUE

small
  color YELLOW
  font-size 10px
  font-weight 300
  margin-left 5px

/* GLOBALS */
html, body
  height 100%
  background darken(MAIN_COLOR, 90%)
body
  padding 0
  margin 0
  font-family 'Lato', Helvetica, sans-serif
  color darken(MAIN_COLOR, 30%)
.push
  height 60px
.cf
  *zoom 1
  &:after
    clear both
.cf:before,
.cf:after
  content " "
  display table
.justify-text
  text-align justify

.center-text
  text-align center

.pull-right
  float right

.pull-left
  float left

.pad-top
  padding-top 5px

input
  &::-webkit-input-placeholder
    fader(color, 0.3s)
    color darken(MAIN_COLOR, 30%)
  &:focus, &:hover
    &::-webkit-input-placeholder
      color YELLOW
    &:-moz-placeholder
      color YELLOW
    &::-moz-placeholder
      color YELLOW
    &:-ms-input-placeholder
      color YELLOW
  &:-moz-placeholder
    fader(color, 0.3s)
    color darken(MAIN_COLOR, 30%)
  &::-moz-placeholder
    fader(color, 0.3s)
    color darken(MAIN_COLOR, 30%)
  &:-ms-input-placeholder
    fader(color, 0.3s)
    color darken(MAIN_COLOR, 30%)

// search bar
input#search-bar
  width 84%
  margin-right 2%
input#search-go
  width 14%

// forms
input, textarea
  cursor pointer
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  fader(all, 0.3s)
  width 100%
  margin 0 auto 20px
  border 3px solid darken(MAIN_COLOR, 30%)
  font-size 14px
  text-transform uppercase
  font-weight bold
  letter-spacing 2px
  text-align center
  padding 8px 0px
  color darken(MAIN_COLOR, 30%)
  background darken(MAIN_COLOR, 90%)
  &:hover, &:focus
    color YELLOW
    border 3px solid YELLOW
    outline 0
  &.small
    font-size 10px
    width 40px
    border 1px solid #ccc
    margin 0 10px
    padding 4px 0px
textarea
  height 80px
  text-align left
  padding 8px 20px
  text-transform none

button
  cursor pointer
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  fader(all, 0.3s)
  width 100%
  margin 0 auto 20px
  border none
  font-size 14px
  text-transform uppercase
  font-weight bold
  letter-spacing 2px
  text-align center
  padding 15px 0px
  color darken(MAIN_COLOR, 90%)
  background darken(MAIN_COLOR, 30%)
  &:hover, &:focus
    background BLUE
    outline 0
.buy-stock
  cursor pointer
  fader(all, 0.3s)
  &:hover
    border-color lighten(BLUE, 20%)
    color lighten(BLUE, 20%)
// navigation
#nav
  position fixed
  bottom 0
  width 100%
  background rgba(darken(MAIN_COLOR, 99%), 0.6)
  border-top 1px solid darken(MAIN_COLOR, 70%)
  text-align center
  margin 0 auto
  min-width 320px
  width 100%
  a
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display inline-block
    padding 6px 0.5% 6px
    width 19%
    fader(all, 0.3s)
    text-decoration none
    color darken(MAIN_COLOR, 30%)
    &:hover
      color YELLOW
    i
      font-size 20px
      margin 0
      padding 0
    p
      margin 0
      padding 0
      font-size 13px  
      font-weight 300
    &.index
      background #252525
      color YELLOW

// lists of concepts
a .box
  color darken(MAIN_COLOR, 30%)
.box
  cursor pointer
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  margin 20px auto
  padding 20px 5% 10px
  width 100%
  background #333
  border 3px solid #333
  &:hover, &.hovered
    border 3px solid darken(MAIN_COLOR, 30%)
    background none
  .thumb
    width 20%
    display inline-block
    vertical-align top
    i
      font-size 60px
      color YELLOW
  .content
    width 80%
    display inline-block
    p
      margin-bottom 10px
  .details
    width 100%
    display inline-block
  &.box-profile
    background BLUE
    border none
    i
      color darken(MAIN_COLOR, 30%)
