/* COLORS */
/* MIXINS */
/* GLOBALS */
html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Helvetica, sans-serif;
  background: #191919;
  color: #b2b2b2;
}
.justify-text {
  text-align: justify;
}
.center-text {
  text-align: center;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
input::-webkit-input-placeholder {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  color: #b2b2b2;
}
input:focus::-webkit-input-placeholder,
input:hover::-webkit-input-placeholder {
  color: #fcf7b1;
}
input:focus:-moz-placeholder,
input:hover:-moz-placeholder {
  color: #fcf7b1;
}
input:focus::-moz-placeholder,
input:hover::-moz-placeholder {
  color: #fcf7b1;
}
input:focus:-ms-input-placeholder,
input:hover:-ms-input-placeholder {
  color: #fcf7b1;
}
input:-moz-placeholder {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  color: #b2b2b2;
}
input::-moz-placeholder {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  color: #b2b2b2;
}
input:-ms-input-placeholder {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  color: #b2b2b2;
}
input#search-bar {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  width: 100%;
  margin: 0 auto;
  border: 3px solid #b2b2b2;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  padding: 8px 0px;
  color: #b2b2b2;
  background: #191919;
}
input#search-bar:hover,
input#search-bar:focus {
  border: 3px solid #fcf7b1;
  outline: 0;
}
#nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(3,3,3,0.75);
  border-top: 1px solid #4c4c4c;
  text-align: center;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
}
#nav a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  padding: 6px 0.5% 6px;
  width: 19%;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  text-decoration: none;
  color: #b2b2b2;
}
#nav a:hover {
  color: #fcf7b1;
}
#nav a i {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
#nav a p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 300;
}
